<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("templatemo_logo.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>
	<!-- menu start -->	
  	<div class="container menu">
 
    <!-- home start -->
    <div class="container">
    <div class="row">
        	<div class="templatemo_home_top">
        	<div class="col-md-8">
            	<div class="templatemo_home_top_left shadow">
            	<div class="templatemo_hometop_title">Quảng cáo</div>
                <div class="templatemo_hometop_stitle">LOREM RUIS BIBENDUM</div>
                <p>
CV Yên Sở được xếp hạng là công viên đô thị lớn nhất Hà nội mở cửa từ 04/04/2014. Chủ đầu tư là tập đoàn Gamuda Berhad của Malaysia. CV hiện nay là thiên đường của các vụ chụp ảnh Kỷ yếu ra trường học sinh Phổ thông và các tập thể bạn trẻ tham gia trò chơi đồng đội. Người lớn tuổi thì ít tới đây vì đường xa khó tiếp cận. </p>
                <p>Come on
                </p>
                <a href="#"><div class="templatemo_buttongreen">LOREM IP SUMS</div></a>
                <div class="clear"></div>
              </div>
            </div>
            <div class="col-md-4"><div class="templatemo_home_midmid shadow">
                	<div class="big">BIBENDUM AUCTOR 
                    	<span class="icon">i</span>
                    </div>
                    <div class="small">Danh sách các tag hot</div>
                    <div class="para">
                    <div id="searchBox">
			<!--lam sau--><form id="search-form" action="" method="get">
				<input type="text" name"s" id="s" value=""/>
				<input type="submit" name="submit" value="search">
			</form>
		</div><!-- end search box-->
                    	
                  	</div>
                    <div class="green">
                    	#DUlich#TayBac#PhuotTHuTamDao
                  	</div>
                    <div class="readmore"><a href="#">READ MORE</a></div>
                    <div class="clear"></div></div>
            </div>
        </div>
    </div>
    <div class="container">
    	<div class="row margin30">
        	<div class="col-md-8">
            	<div class="templatemo_home_botleft shadow">
                	<div class="movie"> 
                    <%= link_to image_tag("templatemo_home03.png", alt: "Rails logo") %>
                  	</div>
                    <div class="para">
                    	<div class="big">Các bài viết mà mình follow</div>
                        <div class="text">
                       Nội dung các bài viết</div>
                        <a href="#"><div class="templatemo_buttongreen">Đọc thêm</div></a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="templatemo_home_botleft shadow">
                	<div class="movie"> 
                    <%= link_to image_tag("templatemo_home03.png", alt: "Rails logo") %>
                  	</div>
                    <div class="para">
                    	<div class="big">Các bài viết mà mình follow</div>
                        <div class="text">
                       Nội dung các bài viết</div>
                        <a href="#"><div class="templatemo_buttongreen">Đọc thêm</div></a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="templatemo_home_botleft shadow">
                	<div class="movie"> 
                    <%= link_to image_tag("templatemo_home03.png", alt: "Rails logo") %>
                  	</div>
                    <div class="para">
                    	<div class="big">Các bài viết mà mình follow</div>
                        <div class="text">
                       Nội dung các bài viết</div>
                        <a href="#"><div class="templatemo_buttongreen">Đọc thêm</div></a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 s_margin30">
            	<div class="templatemo_home_botright shadow">
                	<div id="tabs">
                        <ul>
                            <li><a href="#tabs-1">Các bài viết hot</a></li>
                            <li><a href="#tabs-2">Các bài viết mới nhất</a></li>
                        </ul>
                        <div id="tabs-1">
                            <div class="templatemo_popular_wrapper">
                            	<a href="#">
                            	<div class="popular_box">
                                	<div class="image"><img src="images/templatemo_popular01.jpg" alt="popular 1"></div>
                                    <div class="text">các bài viết hot, new</div>
                                </div>
                                </a>
                                <div class="clear"></div>
                                <a href="#">
                                <div class="popular_box">
                                	<div class="image"><img src="images/templatemo_popular02.jpg" alt="popular 2"></div>
                                    <div class="text">Donec leo sem, commodo in, bibendum iaculis, euismod vitae, risus.</div>
                                </div>
                                </a>
                                <div class="clear"></div>
                                <a href="#">
                                <div class="popular_box">
                                	<div class="image"><img src="images/templatemo_popular03.jpg" alt="popular 3"></div>
                                    <div class="text">Nam auctor elementum dolor. Donec euismod, justo sed convallis blandit.</div>
                                </div>
                                </a>
                                <div class="clear"></div>
                                <a href="#">
                                <div class="popular_box">
                                	<div class="image"><img src="images/templatemo_popular04.jpg" alt="popular 4"></div>
                                    <div class="text">các bài viết hot, new</div>
                                </div>
                                </a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div id="tabs-2">
                            <div class="templatemo_recent_wrapper">
                            	<a href="#">
                            	<div class="recent_box">
                                	<div class="image"><img src="images/templatemo_recent01.jpg" alt="recent 1"></div>
                                    <div class="text">Nam auctor elementum dolor. Donec euismod, justo sed convallis blandit.</div>
                                </div>
                                </a>
                                <div class="clear"></div>
                                <a href="#">
                                <div class="recent_box">
                                	<div class="image"><img src="images/templatemo_recent02.jpg" alt="recent 2"></div>
                                    <div class="text">các bài viết hot, new</div>
                                </div>
                                </a>
                                <div class="clear"></div>
                                <a href="#">
                                <div class="recent_box">
                                	<div class="image"><img src="images/templatemo_recent03.jpg" alt="recent 3"></div>
                                    <div class="text">các bài viết hot, new</div>
                                </div>
                                </a>
                                <div class="clear"></div>
                                <a href="#">
                                <div class="recent_box">
                                	<div class="image"><img src="images/templatemo_recent04.jpg" alt="recent 4"></div>
                                    <div class="text">Donec leo sem, commodo in, bibendum iaculis, euismod vitae, risus.</div>
                                </div>
                                </a>
                                <div class="clear"></div>
                            </div>
                        </div>
   			 		 </div>
                </div>
            </div>
        </div>
    </div>
    <!-- home end -->
	<!-- footer start -->
    <div class="container">
    
    <div class="container">
 	   <div class="row margin30">
       		<div class="col-md-4">
            	<div class="templatemo_home_midleft shadow">
                    <div class="templatemo_home_midleft_in">
                        <div class="small">các mục tùy chọn</div>
                        <div class="big">CUIS BENDU</div>
                        <a href="#"><div class="button">LOREM IP SUMS</div></a>
                    </div>
                    <div class="clear"></div>
              </div>
              <div class="templatemo_home_midleft shadow">
                    <div class="templatemo_home_midleft_in">
                        <div class="small">các mục tùy chọn</div>
                        <div class="big">CUIS BENDU</div>
                        <a href="#"><div class="button">LOREM IP SUMS</div></a>
                    </div>
                    <div class="clear"></div>
              </div>
              <div class="templatemo_home_midleft shadow">
                    <div class="templatemo_home_midleft_in">
                        <div class="small">các mục tùy chọn</div>
                        <div class="big">CUIS BENDU</div>
                        <a href="#"><div class="button">LOREM IP SUMS</div></a>
                    </div>
                    <div class="clear"></div>
              </div>
          
            </div>
         	<div class="col-md-4 s_margin30">
            	    <div class="templatemo_home_midleft shadow">
                    <div class="templatemo_home_midleft_in">
                        <div class="small">LOREM IPSUMS</div>
                        <div class="big">CUIS BENDU</div>
                        <a href="#"><div class="button">LOREM IP SUMS</div></a>
                    </div>
                    <div class="clear"></div>
              </div>
                  <div class="templatemo_home_midleft shadow">
                    <div class="templatemo_home_midleft_in">
                        <div class="small">LOREM IPSUMS</div>
                        <div class="big">CUIS BENDU</div>
                        <a href="#"><div class="button">LOREM IP SUMS</div></a>
                    </div>
                    <div class="clear"></div>
              </div>
                  <div class="templatemo_home_midleft shadow">
                    <div class="templatemo_home_midleft_in">
                        <div class="small">LOREM IPSUMS</div>
                        <div class="big">CUIS BENDU</div>
                        <a href="#"><div class="button">LOREM IP SUMS</div></a>
                    </div>
                    <div class="clear"></div>
              </div>
            </div>
          	<div class="col-md-4 s_margin30">
            	<img src="images/templatemo_home02.jpg" class="shadow" alt="templatemo home image02">
                <div class="templatemo_home_midright">
                	<div class="big">BIBENDUM AUCTOR</div>
                    <div class="small">LOREM IPSUMS DOLOR</div>
                </div>
            </div>
            <div class="col-md-4 s_margin30">
            	<img src="images/templatemo_home02.jpg" class="shadow" alt="templatemo home image02">
                <div class="templatemo_home_midright">
                	<div class="big">BIBENDUM AUCTOR</div>
                    <div class="small">LOREM IPSUMS DOLOR</div>
                </div>
            </div>
            <div class="col-md-4 s_margin30">
            	<img src="images/templatemo_home02.jpg" class="shadow" alt="templatemo home image02">
                <div class="templatemo_home_midright">
                	<div class="big">BIBENDUM AUCTOR</div>
                    <div class="small">LOREM IPSUMS DOLOR</div>
                </div>
            </div>
            <div class="col-md-4 s_margin30">
            	<img src="images/templatemo_home02.jpg" class="shadow" alt="templatemo home image02">
                <div class="templatemo_home_midright">
                	<div class="big">BIBENDUM AUCTOR</div>
                    <div class="small">LOREM IPSUMS DOLOR</div>
                </div>
            </div>
       </div>
    </div>
    	<div class="row">
        	<div class="col-md-12 margin30 center">Copyright &copy; 2084 Company Name</div>
            <div class="margin30">&nbsp;</div>
        </div>

    </div>
    <!-- footer end -->
</body>
</html>