<h1>Edit Job</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%= form_for @job do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
			<%= f.label :description %>
			<%= f.text_field :description, class: "form-control" %>
			<%= f.label :user_number %>
			<%= f.text_field :user_number, class: "form-control" %>
			<%= f.submit "Update", class: "btn btn-primary" %>
		<% end %> 
  </div>
</div>