<% provide(:title, 'Create Job') %>
<h1>Create new job</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@job, url: jobs_path, method: :post) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :user_number %>
      <%= f.text_field :user_number, class: 'form-control' %>

      <%= f.submit "Create new job", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>